*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --app-xs-mr: 0.25rem;
  --app-sm-mr: 0.5rem;
  --app-md-mr: 1rem;
  --app-lg-mr: 1.5rem;
  --app-xl-mr: 2rem;

  --app-xs-fs: 0.75rem;
  --app-sm-fs: 1rem;
  --app-md-fs: 1.25rem;
  --app-lg-fs: 1.5rem;
  --app-xl-fs: 2rem;

  --app-light-fw: 300;
  --app-normal-fw: 400;
  --app-medium-fw: 500;
  --app-bold-fw: 700;

  --app-dark-bg: rgb(7, 48, 65);
  --app-dark-color: rgb(236, 222, 222);

  --app-light-color: rgb(16, 15, 15);
  --app-light-bg: rgb(236, 222, 222);

  --app-default-color: var(--app-light-color);
  --app-default-bg: var(--app-light-bg);

  --app-active-color: #7a1b1b;
  --app-success-color: #077714;
  --app-btn-color: rgba(148, 15, 15, 0.65);

  --app-subZero-zi: -2;
  --app-default-zi: 0;
  --app-max-zi: 5;
}

/* CONNECTING LOCAL FONTS */

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Light.ttf");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* CALENDAR CONTAINER STYLES */

body {
  margin: 2rem;
}

.calendar {
  padding: var(--app-md-mr);
  width: 19%;
  background-color: var(--app-default-bg);
  border-radius: var(--app-sm-mr);
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: var(--app-md-fs);
  font-family: "Roboto", sans-serif;
  color: var(--app-default-color);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-weight: 300;
  transform: scale(1);
  transition: 0.3s all linear;
  z-index: 0;
}

.calendar.hidden {
  transform: scale(0.01);
  z-index: var(--app-subZero-zi);
}

.calendar__overlay {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.28);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: var(--app-sm-mr);
  backdrop-filter: blur(1.7px);
}

label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 var(--app-xs-mr);
  z-index: var(--app-max-zi);
  font-variant: small-caps;
}

input,
button {
  outline: none;
  font: inherit;
  background-color: var(--app-default-bg);
  border: none;
  border-radius: var(--app-xs-mr);
  padding: var(--app-xs-mr);
  width: 65%;
  margin: var(--app-sm-mr) 0;
  color: inherit;
  cursor: pointer;
  letter-spacing: inherit;
  word-spacing: inherit;
}

.calendar__year:invalid {
  border: 2px solid var(--app-active-color);
  text-decoration: line-through;
  background-color: transparent;
}

.calendar__year:valid {
  border: 2px solid var(--app-success-color);
  text-decoration: none;
  background-color: transparent;
}

.calendar__panel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: var(--app-max-zi);
}

.calendar__panel_btn {
  background-color: var(--app-btn-color);
  font-variant: small-caps;
}

.calendar__panel_monthName {
  color: var(--app-active-color);
  width: 100%;
  text-align: right;
  padding: var(--app-xs-mr);
  display: inline-block;
  font-variant: small-caps;
}

.calendar__field {
  margin: var(--app-md-mr) 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7));
  z-index: var(--app-max-zi);
}

.calendar__field_cell,
.calendar__field_header {
  justify-self: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.09s all linear;
}

.calendar__field_cell:hover,
.calendar__panel_btn:hover {
  color: var(--app-active-color);
  transform: scale(1.03);
}

.calendar__panel_btn:hover {
  color: inherit;
}

.calendar__field_header {
  font-weight: var(--app-bold-fw);
  color: var(--app-active-color);
}

.active {
  color: var(--app-active-color);
  transform: scale(1.03);
}

/* MEDIA QUERRIES ---- */

@media screen and (max-width: 1399.98px) {
  .calendar {
    width: 23%;
  }
}

@media screen and (max-width: 1199.98px) {
  .calendar {
    width: 25%;
    font-size: var(--app-sm-fs);
  }
}

@media screen and (max-width: 991.98px) {
  .calendar {
    width: 27%;
    padding: var(--app-sm-mr);
  }

  .calendar__field_cell,
  .calendar__field_header {
    height: 27px;
  }
}

@media screen and (max-width: 767.98px) {
  .calendar {
    width: 33%;
    font-size: 15px;
  }

  .calendar__field {
    margin: var(--app-sm-mr) 0;
  }

  .calendar__field_cell,
  .calendar__field_header {
    height: 25px;
  }
}

@media screen and (max-width: 575.98px) {
  .calendar {
    width: 40%;
    font-size: 12.5px;
    padding: var(--app-xs-mr);
  }

  .calendar__field_cell,
  .calendar__field_header {
    height: 22px;
  }
}
