.calendar {
  padding: var(--app-md-mr);
  width: 19%;
  background-color: #5f5a5a;
  border-radius: var(--app-sm-mr);
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: var(--app-md-fs);
  font-family: "Roboto", sans-serif;
  color: var(--app-default-color);
  transition: 0.3s all linear;

  &__panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &_btn {
      background-color: var(--app-active-color);
      font-family: 'Montserrat', serif;
      &:hover {
        color: var(--app-white-color);
        transform: scale(1.03);
      }
    }

    &_monthName {
      font-weight: var(--app-bold-fw);
      color: var(--app-active-color);
      font-family: 'Montserrat', serif;
      width: 100%;
      text-align: right;
      padding: var(--app-xs-mr);
      display: inline-block;
    }
  }

  &__field {
    margin: var(--app-md-mr) 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
    grid-template-rows: repeat(5);
    border-right: 2px solid;
    border-bottom: 2px solid;

    &_cell,
    &_header {
      justify-self: center;
      border: 2px solid;
      border-right: none;
      border-bottom: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      cursor: pointer;
      overflow: hidden;
      transition: 0.09s all linear;
      &:hover {
        color: var(--app-white-color);
        transform: scale(1.03);
      }
    }

    &_header {
      font-weight: var(--app-bold-fw);
      color: var(--app-light-color);
    }
  }

  &__monthName,
  label {
    font-family: "Montserrat";
    font-weight: var(--app-medium-fw);
  }
}

.hidden {
  opacity: 0;
  z-index: var(--app-subZero-zi);
}

.active {
  color: var(--app-active-color);
  transform: scale(1.03);
}
