.calendar {
  padding: var(--app-md-mr);
  width: 19%;
  background-color: var(--app-default-bg);
  border-radius: var(--app-sm-mr);
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: var(--app-md-fs);
  color: var(--app-default-color);
  transition: 0.25s all linear;
  font-weight: 400;
  font-family: "Roboto";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  

  &__overlay {
    width: 100%;
    display: block;
    background: rgba(0,0,0, .28);
    position: absolute;
    top: 0;
    left: 0;    
    height: 100%;
    border-radius: var(--app-sm-mr);
    backdrop-filter: blur(1.5px);    
  }

  &__panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: var(--app-max-zi);

    &_btn {
      background-color: var(--app-active-color);
      &:hover {
        transform: scale(1.03);
      }
    }

    &_monthName {
      font-weight: var(--app-bold-fw);
      color: var(--app-active-color);
      width: 100%;
      text-align: right;
      padding: var(--app-xs-mr);
      display: inline-block;
      
    }
  }

  &__year {
    &:invalid {
      border: 2px solid var(--app-active-color);
      text-decoration: line-through;
    }
  }

  &__year {
    &:valid {
      border: 2px solid var(--app-success-color);
      text-decoration: none;
    }
  }

  &__field {
    margin: var(--app-md-mr) 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
    grid-template-rows: repeat(5);
    border-right: 2px solid var(--app-default-color);
    border-bottom: 2px solid var(--app-default-color);
    z-index: var(--app-max-zi);

    &_cell,
    &_header {
      justify-self: center;
      border: 2px solid var(--app-default-color);
      border-right: none;
      border-bottom: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      cursor: pointer;
      overflow: hidden;
      transition: 0.09s all linear;
      &:hover {
        color: var(--app-active-color);
        transform: scale(1.03);
      }
    }

    &_header {
      font-weight: var(--app-bold-fw);

      &:hover {
        color: var(--app-default-color);
        transform: scale(1);
      }
    }
  }

  &__monthName,
  label {
    font-weight: var(--app-medium-fw);
  }
}

.hidden {
  transform: scale(0.01);
  z-index: var(--app-subZero-zi);
}

.active {
  color: var(--app-active-color);
  transform: scale(1.03);
}
