*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 2rem;
  background-color: rgb(52, 50, 50);
}

label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 var(--app-xs-mr);
  z-index: var(--app-max-zi);
  font-variant: small-caps;
}

input,
button {
  outline: none;
  font: inherit;  
  background-color: var(--app-default-bg);
  border: none;
  border-radius: var(--app-xs-mr);
  padding: var(--app-xs-mr);
  width: 65%;
  margin: var(--app-sm-mr) 0;
  color: inherit;
  cursor: pointer;
  letter-spacing: inherit;
  word-spacing: inherit;
  text-transform: inherit;
}
