/* MEDIA QUERRIES ---- */

@media screen and (max-width: 1399.98px) {
  .calendar {
    width: 23%;    
  }
}

@media screen and (max-width: 1199.98px) {
  .calendar {
    width: 25%;
    font-size: var(--app-sm-fs);
  }
}

@media screen and (max-width: 991.98px) {
  .calendar {
    width: 32%;
    padding: var(--app-sm-mr);

    &__field_cell,
    &__field_header {
      height: 27px;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .calendar {
    width: 38%;
    font-size: 14px;
    padding: var(--app-xs-mr);

    &__field {
      margin: var(--app-sm-mr) 0;
    }

    &_cell,
    &_header {
      height: 25px;
    }

    &__controls {
      top: var(--app-xs-mr);
    }
  }
}

@media screen and (max-width: 575.98px) {
  input {
    margin: 0.5em 0;
  }

  .calendar {
    width: 45%;
    font-size: 12px;
    padding: var(--app-xs-mr);

    &__field {
      margin: var(--app-sm-mr) 0;

      &_cell,
      &_header {
        height: 22px;
      }
    }
    
  }
}

@media screen and (max-width: 454.98px) {
  .calendar {   
    width: 52%;
    font-size: 11.5px;    
  }
}
